<div id="app" class="indexTab content" v-cloak="">


	<div class="hideOnNonNative" >

		<div class="mainBlock" >
               		<div class="headline" >
				<h1>{{ $t("homepage.mainTitle") }}</h1>
				<h2>{{ $t("homepage.tagLine") }}</h2>
			</div>
		</div>
	</div>
	<div class="hideOnNative" >
		<div class="mainBlock" >
			<div class="actions" >
	<img src="https://i.imgur.com/I4WlwI3.png" width="180" > 

                <div class="right">
					<a href="#!account" class="btn btn-primary btn-sm"><i class="fas fa-user"></i> {{ $t("menu.account") }}</a>
					<a href="#!send" class="btn btn-primary btn-sm"><i class="fas fa-arrow-circle-right"></i> {{ $t("menu.send") }}</a>
					<a href="#!receive" class="btn btn-primary btn-sm"><i class="fas fa-arrow-circle-left"></i> {{ $t("menu.receive") }}</a>
					<a href="#!export" class="btn btn-primary btn-sm"><i class="fas fa-file-export"></i> {{ $t("menu.export") }}</a>
					<a href="#!settings" class="btn btn-primary btn-sm"><i class="fas fa-cogs"></i> {{ $t("menu.settings") }}</a>
					<a href="#!disconnect" class="btn btn-danger btn-sm"><i class="fas fa-sign-out-alt"></i> {{ $t("menu.disconnect") }}</a>



				</div>

			</div>
<div class="container-md">
<div class="card">
  <div class="card-body">




		<div class="panel inline" v-if="currentScanBlock+2 < blockchainHeight" >
			<div class="progress" >
				<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" :style="'width:'+((currentScanBlock+1)/blockchainHeight*100 | 0)+'%'" >{{(((currentScanBlock+1)/blockchainHeight*1000 | 0) / 10)}}%</div>
				<label>
					{{ $t("accountPage.synchronizingBlock.text") }} <span class="currentScanBlock" >{{currentScanBlock+1}}</span>/<span class="blockchainHeight" >{{blockchainHeight}}</span>
				</label>
			</div>


		</div>

		<div class="panel">
			<div class="body">
				<div class="header-title" >{{ $t("accountPage.balanceBlock.title") }}</div>
				<div class="content">
					<span class="walletAmount" style="color:#62b42f; font-size:x-large;font-weight:bold">{{ Number(walletAmount / currencyDivider).toFixed(6) }}</span><span style="font-size:x-large;font-weight:bold"> SUMO</span>
					<tempate class="amount unlocked" v-if="unlockedWalletAmount !== walletAmount" >
						<br/><span class="walletAmount" >{{ $t("accountPage.balanceBlock.unlocked") }}: {{ Number(unlockedWalletAmount / currencyDivider).toFixed(6) }}</span> SUMO
					</tempate>
				</div>
			</div>
		</div>



		<div class="panel nopadding">
			<div class="body" >
				<div class="header-title" ><i class="fas fa-list"></i> {{ $t("accountPage.historyBlock.title") }}</div>
				<div class="content" style="padding: 10px">

					<div class="transactions" >
						<table>
							<template v-for="transaction of transactions" v-if="transaction.isFullyChecked()">
								<tr class="transaction" :class="(transaction.blockHeight === 0 ? 'pending' : '')">
									<td class="direction" >
										<i v-if="transaction.ins.length == 0" class="fa fa-arrow-right amount more" aria-hidden="true"></i>
										<i v-else="" class="fa fa-arrow-left amount less" aria-hidden="true"></i>
									</td><!--LEfT-->
									<td class="timestamp" v-if="transaction.blockHeight > 0">{{$d(new Date(transaction.timestamp*1000), 'long')}}</td>
									<td class="timestamp" v-else="">{{ $t("accountPage.historyBlock.pendingTxStatus") }}...</td>
									<td :class="'amount '+(transaction.getAmount() > 0 ? 'more' : 'less')" >{{ Number(transaction.getAmount() / currencyDivider).toFixed(6) }}</td>
									<td class="moreInfo">
										<i class="fa fa-search" aria-hidden="true" @click="moreInfoOnTx(transaction)"></i>
									</td>
								</tr>
								<tr>
                                    <td class="direction" ></td>
									<td colspan="2" class="tx-hash" @click="moreInfoOnTx(transaction)"><i>{{transaction.hash}}</td><!--UNDER-->
								</tr>
							</template>
							<tr v-if="transactions.length == 0" >
								<td colspan="4" class="noTransactions">
									{{ $t("accountPage.historyBlock.emptyWallet") }}<br/>
									<span v-if="currentScanBlock+1 !== blockchainHeight" >
										{{ $t("accountPage.historyBlock.waitSync") }}
										<template v-if="blockchainHeight - currentScanBlock > 100000" >
											<br/>{{ $t("accountPage.historyBlock.beReallyPatient") }}
										</template>
									</span><br>
									<div class="actions tc" >
										<a href="#receive" class="btn btn-primary">{{ $t("accountPage.historyBlock.getMSRAddress") }}</a>
									</div>
								</td>
							</tr>
						</table>
					</div>

				</div>
			</div>
		</div>
	</div>




  </div>
</div>


</div>


		</div>
