<div id="app" class="indexTab content" v-cloak="">


	<div class="hideOnNonNative" >

		<div class="mainBlock" >
               		<div class="headline" >
				<h1>{{ $t("homepage.mainTitle") }}</h1>
				<h2>{{ $t("homepage.tagLine") }}</h2>
			</div>
		</div>
	</div>
	<div class="hideOnNative" >
		<div class="mainBlock" >
			<div class="actions" >
	<img src="https://i.imgur.com/I4WlwI3.png" width="180" > 

                <div class="right">
					<a href="#!account" class="btn btn-primary btn-sm"><i class="fas fa-user"></i> {{ $t("menu.account") }}</a>
					<a href="#!send" class="btn btn-primary btn-sm"><i class="fas fa-arrow-circle-right"></i> {{ $t("menu.send") }}</a>
					<a href="#!receive" class="btn btn-primary btn-sm"><i class="fas fa-arrow-circle-left"></i> {{ $t("menu.receive") }}</a>
					<a href="#!export" class="btn btn-primary btn-sm"><i class="fas fa-file-export"></i> {{ $t("menu.export") }}</a>
					<a href="#!settings" class="btn btn-primary btn-sm"><i class="fas fa-cogs"></i> {{ $t("menu.settings") }}</a>
					<a href="#!disconnect" class="btn btn-danger btn-sm"><i class="fas fa-sign-out-alt"></i> {{ $t("menu.disconnect") }}</a>



				</div>

			</div>
<div class="container-md">
<div class="card">
  <div class="card-body">


<div class="body-content" >
		<div class="panel">
			<div class="body" >
				<div class="content" >
					<div class="field">
						<label>{{ $t("changeWalletPasswordPage.oldPassword.label") }}</label>
						<input type="text" v-model="oldPassword" autocomplete="off" >
						<div v-if="invalidOldPassword" class="message error">
							{{ $t("changeWalletPasswordPage.oldPassword.invalid") }}
						</div>
					</div>

					<div class="field" >
						<label>{{ $t("changeWalletPasswordPage.newPassword.label") }}</label>
						<input type="password" v-model="walletPassword" autocomplete="off">
						<div v-if="insecurePassword && !forceInsecurePassword && walletPassword != ''" class="message error">
							{{ $t("global.passwordInvalidRequirements") }}
							<div class="tc">
								<button @click="forceInsecurePasswordCheck()" class="btn btn-primary">{{ $t("global.disableSecurity") }}</button>
							</div>
						</div>
					</div>

					<div class="field">
						<label>{{ $t("changeWalletPasswordPage.newPasswordConfirm.label") }}</label>
						<input type="password" name="public" v-model="walletPassword2">
						<div v-if="walletPassword != '' && walletPassword2 != '' && walletPassword != walletPassword2" class="message error">
							{{ $t("global.passwordConfirmationNotMatching") }}
						</div>
					</div>

					<div class="actions tc" >
						<button class="btn btn-primary" @click="changePassword()" :disabled="!(this.walletPassword !== '' && (!this.insecurePassword || this.forceInsecurePassword) && walletPassword == walletPassword2) && !invalidOldPassword">{{ $t("changeWalletPasswordPage.confirm") }}</button>
					</div>
				</div>
			</div>
		</div>

	</div>



  </div>
</div>
</div>
	</div>
