<div id="app" class="indexTab content" v-cloak="">


	<div class="hideOnNonNative" >

		<div class="mainBlock" >
               		<div class="headline" >
				<h1>{{ $t("homepage.mainTitle") }}</h1>
				<h2>{{ $t("homepage.tagLine") }}</h2>
			</div>
		</div>
	</div>
	<div class="hideOnNative" >
		<div class="mainBlock" >
			<div class="actions" >
	<img src="https://i.imgur.com/I4WlwI3.png" width="180" > 

                <div class="right">
					<a href="#!account" class="btn btn-primary btn-sm"><i class="fas fa-user"></i> {{ $t("menu.account") }}</a>
					<a href="#!send" class="btn btn-primary btn-sm"><i class="fas fa-arrow-circle-right"></i> {{ $t("menu.send") }}</a>
					<a href="#!receive" class="btn btn-primary btn-sm"><i class="fas fa-arrow-circle-left"></i> {{ $t("menu.receive") }}</a>
					<a href="#!export" class="btn btn-primary btn-sm"><i class="fas fa-file-export"></i> {{ $t("menu.export") }}</a>
					<a href="#!settings" class="btn btn-primary btn-sm"><i class="fas fa-cogs"></i> {{ $t("menu.settings") }}</a>
					<a href="#!disconnect" class="btn btn-danger btn-sm"><i class="fas fa-sign-out-alt"></i> {{ $t("menu.disconnect") }}</a>



				</div>

			</div>
<div class="container-md">
<div class="card">
  <div class="card-body">




<div class="body-header" >
		<div class="header-title">
			<i class="fa fa-folder-open fa-lg" aria-hidden="true"></i> {{ $t("exportPage.title") }}
		</div>
	</div>
	<div class="body-content" >
		<div class="panel">
			<div class="body" >
				<div class="header-title" >{{ $t("exportPage.publicAddressBlock.title") }}</div>
				<div class="content" >
					<span style="word-wrap: break-word;" >{{publicAddress}}</span>
				</div>
			</div>
		</div>

		<div class="panel" v-if="!nativePlatform">
			<div class="body" >
				<div class="header-title" >{{ $t("exportPage.pdfBlock.title") }}</div>
				<div class="content tc" >
					<button @click="exportEncryptedPdf()" class="btn btn-primary">{{ $t("exportPage.pdfBlock.downloadButton") }}</button>
				</div>
			</div>
		</div>

		<div class="panel inline">
			<div class="body" >
				<div class="header-title" >{{ $t("exportPage.warningBlock.title") }}</div>
				<div class="content" v-html="$t('exportPage.warningBlock.content')"></div>
			</div>
		</div>

		<div class="panel">
			<div class="body" >
				<div class="header-title" >{{ $t("exportPage.exportBlock.title") }}</div>
				<div class="content tc" >
					<div class="tab" >
						<button class="btn btn-primary" @click="getPrivateKeys()" >{{ $t("exportPage.exportBlock.privateKeysButton") }}</button>
					</div>
					<div class="tab" >
						<button class="btn btn-primary" @click="getMnemonicPhrase()" >{{ $t("exportPage.exportBlock.mnemonicKeysButton") }}</button>
					</div>
					<div class="tab" v-if="!nativePlatform" >
						<button class="btn btn-primary" @click="fileExport()" >{{ $t("exportPage.exportBlock.fileButton") }}</button>
					</div>
				</div>
			</div>
		</div>


	</div>





  </div>
</div>
</div>
	</div>
