<div id="app" class="indexTab content" v-cloak="">
	<div class="hideOnNonNative" >

		<div class="mainBlock" >
               		<div class="headline" >
				<h1>{{ $t("homepage.mainTitle") }}</h1>
				<h2>{{ $t("homepage.tagLine") }}</h2>
			</div>
			<div class="callToAction tc" >
				<a href="#" @click="loadWallet()" v-if="hasLocalWallet" class="btn primary">{{ $t("homepage.actions.loadWallet") }}</a>
				<a href="#!createWallet" class="btn primary" v-if="!hasLocalWallet" >{{ $t("homepage.actions.createWallet") }}</a>
				<a href="#!import" class="btn mini" v-if="!hasLocalWallet" >{{ $t("homepage.actions.importWallet") }}</a>
			</div>
		</div>
	</div>
	<div class="hideOnNative" >
		<div class="mainBlock" >
			<div class="actions" >
	<img src="https://i.imgur.com/I4WlwI3.png" width="180" > 

                <div class="right">
					
					<a href="#!import" class="btn btn-primary btn-sm"><i class="fas fa-file-import"></i> {{ $t("homepage.actions.importWallet") }}</a>
					<a href="#!createWallet" class="btn btn-primary btn-sm"><i class="fas fa-plus-circle"></i> {{ $t("homepage.actions.createWallet") }}</a>
		</div>
			</div>
            <br clear="both">
            <div class="center" style="margin-bottom: 20px">
                <div class="headline"><h1>Welcome to Sumokoin Web Wallet</h1></div>
		<font color="white">We are currently at block height <i class="fas fa-arrows-alt-v"></i> {{blockchainHeight}}, mining <i class="fas fa-microchip"></i> at {{networkHashrate}} MH/s with difficulty <i class="fas fa-wave-square"></i> {{networkDifficulty}}</font><br><br>
                
		<br>
		<font color="white" v-if="hasLocalWallet"><span class="badge badge-info">Info</span>
 You can log into your last account by pressing "Load Wallet"</font><br><br>

		<div class="callToAction tc" >
                    <a href="#" @click="loadWallet()" v-if="hasLocalWallet" class="btn btn-light btn-lg" style="margin-right:20px"><i class="fas fa-save"></i> {{ $t("homepage.actions.loadWallet") }}</a>
                    <a href="#!createWallet" class="btn btn-primary btn-lg" style="margin-right:20px" ><i class="fas fa-plus-circle"></i> {{ $t("homepage.actions.createWallet") }}</a>
                    <a href="#!createWallet" class="btn btn-primary btn-lg" ><i class="fas fa-file-import"></i> {{ $t("homepage.actions.importWallet") }}</a>

                </div>
            </div>
		</div>
	</div>
</div>