<div id="app" class="indexTab content" v-cloak="">
	<div class="hideOnNonNative">
		<div class="mainBlock">
			<div class="headline">
				<h1>{{ $t("homepage.mainTitle") }}</h1>
				<h2>{{ $t("homepage.tagLine") }}</h2>
			</div>
		</div>
	</div>
	<div class="hideOnNative">
		<div class="mainBlock">
			<div class="actions">
				<div class="d-block d-sm-block d-md-block d-lg-block d-xl-none" data-size="xs sm md lg">


					<center><img src="https://i.imgur.com/I4WlwI3.png" width="180"></center><br><br>
					<div class="center">
						<a href="#!account" class="btn btn-primary btn-sm"
							style="margin-left: 5px; margin-bottom: 5px;"><i class="fas fa-user"></i>
							{{ $t("menu.account") }}</a>
						<a href="#!send" class="btn btn-primary btn-sm" style="margin-left: 5px; margin-bottom: 5px;"><i
								class="fas fa-arrow-circle-right"></i>
							{{ $t("menu.send") }}</a>
						<a href="#!receive" class="btn btn-primary btn-sm"
							style="margin-left: 5px; margin-bottom: 5px;"><i class="fas fa-arrow-circle-left"></i>
							{{ $t("menu.receive") }}</a>
						<a href="#!export" class="btn btn-primary btn-sm"
							style="margin-left: 5px; margin-bottom: 5px;"><i class="fas fa-file-export"></i>
							{{ $t("menu.export") }}</a>
						<a href="#!settings" class="btn btn-primary btn-sm"
							style="margin-left: 5px; margin-bottom: 5px;"><i class="fas fa-cogs"></i>
							{{ $t("menu.settings") }}</a>
						<a href="#!disconnect" class="btn btn-danger btn-sm"
							style="margin-left: 5px; margin-bottom: 5px;"><i class="fas fa-sign-out-alt"></i>
							{{ $t("menu.disconnect") }}</a>
					</div>

				</div>

				<div class="d-none d-sm-none d-md-none d-lg-none d-xl-block" data-size="xl">

					<img src="https://i.imgur.com/I4WlwI3.png" width="180">

					<div class="right">
						<a href="#!account" class="btn btn-primary btn-sm"><i class="fas fa-user"></i>
							{{ $t("menu.account") }}</a>
						<a href="#!send" class="btn btn-primary btn-sm"><i class="fas fa-arrow-circle-right"></i>
							{{ $t("menu.send") }}</a>
						<a href="#!receive" class="btn btn-primary btn-sm"><i class="fas fa-arrow-circle-left"></i>
							{{ $t("menu.receive") }}</a>
						<a href="#!export" class="btn btn-primary btn-sm"><i class="fas fa-file-export"></i>
							{{ $t("menu.export") }}</a>
						<a href="#!settings" class="btn btn-primary btn-sm"><i class="fas fa-cogs"></i>
							{{ $t("menu.settings") }}</a>
						<a href="#!disconnect" class="btn btn-danger btn-sm"><i class="fas fa-sign-out-alt"></i>
							{{ $t("menu.disconnect") }}</a>
					</div>

				</div>
			</div>
			<div class="container-md">
				<div class="card">
					<div class="card-body">

						<div class="body-header">
							<div class="header-title">
								<i class="fas fa-arrow-circle-left"></i> {{ $t("receivePage.title") }}
							</div>
						</div>

						<div class="body-content">
							<div class="panel">
								<div class="body">
									<div class="header-title">{{ $t("receivePage.receiveBlock.address.title") }}</div>
									<div class="content">
										<div class="field action">
											<label>{{ $t("receivePage.receiveBlock.address.label") }}</label>
											<div class="subfield readonly">
												<input type="text" v-model="rawAddress" id="rawAddress"
													readonly="readonly" />
												<span class="action" @click="setInClipboard()"><i
														class="fa fa-copy"></i></span>
											</div>
										</div>
									</div>
									<div class="header-title">{{ $t("receivePage.receiveBlock.qrCode.title") }}</div>
									<div class="content">
										<div class="field">
											<label>{{ $t("receivePage.receiveBlock.qrCode.labelAmount") }}</label>
											<input type="text" v-model="amount" />
										</div>
										<div class="field">
											<label>{{ $t("receivePage.receiveBlock.qrCode.labelRecipient") }}</label>
											<input type="text" v-model="recipientName" />
										</div>
										<div class="field">
											<label>{{ $t("receivePage.receiveBlock.qrCode.labelDescription") }}</label>
											<input type="text" v-model="txDescription" />
										</div>
										<!--<div class="field">
						<label>Identifier (optional)</label>
						<input type="text" v-model="paymentId" maxlength="8"/>
					</div>-->
										<div class="actions">
											<button class="btn btn-primary"
												@click="generateQrCode()">{{ $t("receivePage.receiveBlock.qrCode.updateButton") }}</button>
										</div>
									</div>
								</div>
							</div>

							<img src="./assets/img/logoQrCode.png" id="masariQrCodeLogo" style="display: none;" />
							<div class="panel inline">
								<div class="body">
									<div class="header-title">{{ $t("receivePage.qrBlock.title") }}</div>
									<div class="content">
										<div class="qrCode">
											<div id="qrCodeContainer"></div>
										</div>
									</div>
								</div>
							</div>

							<div class="panel inline" v-if="hasNfc && hasWritableNfc">
								<div class="body">
									<div class="header-title">Nfc</div>
									<div class="content">
										<div>
											<button @click="shareWithNfc()" class="btn primary">Share by NFC</button>
										</div>
										<div>
											<button @click="writeOnNfc()" class="btn">Write on a Nfc Tag</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>